body {
  font-family: "Times New Roman", Times, serif;
}


/***************************/
/* Nav 2 Start */

#Nav2 .navbar-nav li {
  border-right: 1px solid lightgray;
  padding-right: 5px;
  padding-left: 5px;
}

#Nav2 .navbar-nav li .selected {
  color: darkred;
  border-bottom: 4px solid darkred;
}

#Nav2 .navbar-nav li a:hover {
  border-bottom: 4px solid darkred;
  color: darkred;
}

#Nav2 .signup {
  color: darkred;
  background: none;
  font-size: 18px;
}

#Nav2 .signup:hover {
  color: red;
}

#Nav2 .login {
  color: darkorange;
  background: rgb(51, 58, 65);
  font-size: 18px;
  padding: 5px 35px 5px 35px;
  margin-left: 15px;
  margin-right: 18px;
  border-radius: 5px;
}

#Nav2 .login:hover {
  color: red;
  transition: color 0.5s;
}

/* Nav 2 End */
/***************************/

/* Requests Page Start */
/*****************************************************************/

#navigator .container .path{
  border: 1px solid lightgrey;
  border-radius: 10px;
  font-size: 22px;
  padding: 10px 20px 10px 30px;
  margin: 30px 0px 30px 0px;
  width: 100%;
}

#requests .page-num{
  margin-top: 40px;
  padding-bottom: 0px;
}

#requests .page-num li a{
  color: darkred;
}

#requests .page-num li a:hover{
  color: white;
  background-color: darkred
}
/* Requests Page End */
/*****************************************************************/

/* Login Page Start */
/*****************************************************************/

#login .container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#login .container {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 77%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 50px;
  box-shadow: 2px 2px 5px 5px #e7e6e6;
}

#login .container form .username,
#login .container form .password{
  width: 70%;
  font-size: 20px;
  height: 50px;
  margin: 30px 0px 0px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgray;
  padding-left: 10px;
  border-radius: 5px;
}

#login .container form .check{
  margin: 40px 0px 0px 160px;
  width: 2%;
}

#login .container form a{
  margin-left: 47%;
  font-size: 18px;
}

#login .container form button{
  width: 20%;
  font-size: 22px;
  border-radius: 10px;
  padding: 20px 0px 20px 0px; 
  margin-top: 40px;
  color: white;
}

#login .container form .reg-group{
  text-align: center;
}

/* Login Page End */
/*****************************************************************/


/* Sign up Page Start */
/*****************************************************************/

#sign-up .container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sign-up .container {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 77%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 50px;
  box-shadow: 2px 2px 5px 5px #e7e6e6;
}

#sign-up .container form input,
#sign-up .container form select{
  width: 70%;
  font-size: 20px;
  height: 50px;
  margin: 30px 0px 0px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgray;
  padding-left: 10px;
  border-radius: 5px;
}

#sign-up .container form .check{
  margin: 40px 0px 0px 160px;
  width: 2%;
}

#sign-up .container form a{
  margin-left: 47%;
  font-size: 18px;
}

#sign-up .container form button{
  width: 20%;
  font-size: 22px;
  border-radius: 10px;
  padding: 20px 0px 20px 0px; 
  margin-top: 10px;
  color: white;
}

#sign-up .container form .reg-group{
  text-align: center;
  margin-top: 30px;
}

/*****************************************************************/



