{%load static%}
<html>
  <head>
      <center>
         <h1>Activity Exersscise</h1>
      </center>     
  </head>
  <body>
   <style>
                  *{
                   margin:0;
                   padding:0;
                   box-sizing:border-box;
                   font-family:sans-serif;
                   font-weight:lighter;
               }
               body
                       {
                            background: url("{%static 'image/acte.jpg'%}");
                            background-size: 100%;
                        }
               .flex{
                         display:flex;
                        align-items:center;
               }
       </style>     
               <h2 style="color:Blue;">5 Fun Outdoor Dog and Cat Exercises</h2><br>
                   <h3>1.Hiking<br>
                   Dogs love the outdoors just as much as their pet parents. Set off on an adventure and explore new dog-friendly parks and trails. Be sure to plan for your dog’s needs on the trail and pack food, water, and accessories to keep him or her energized and hydrated.<br><br>

                    <h3>2.Fetch<br>
                   A tried-and-true dog favorite activity! Make it more fun and/or rigorous by having your dog run uphill, or jump in the water after a ball. Use balls or soft toys to avoid harming their teeth. Alternatively, have your dog play hide-and-seek with a treat-stuffed toy. <br><br>

                     <h3>3.Swimming<br>
                    Most dogs love the water and swimming is a great low-impact exercise if they have joint problems. Not all breeds are natural swimmers, some may need swimming lessons and a life vest. A life vest can help any breed of dog stay in the water longer for an optimum workout.<br><br>

                      <h3>4.Build an Obstacle Course<br>
                     If you have a yard, an obstacle course can create a great dog workout. Keep it safe and don’t challenge your dog beyond their ability or use anything that could harm them. Great things to use include: tunnels, poles, and hula hoops.<br><br>

                     <h3>5.Take a Walk<br>
                     This simple activity provides wonderful benefits to both dogs and their companions, including helping keep down weight, keeping joints healthy, and keeping the mind active. A daily walk not only keeps dogs healthier, but their dog walkers as well.<br><br>



                 <h2 style="color:Blue;">5 Fun Indoor Dog and Cat Exercises</h2><br>
                        <h3>1.Wand Toys</h3><br>
                          These toys usually have feathers or fur mice on the end of a string that the pet parent moves around like real prey. Cats love the hunt: chasing, jumping, and pouncing on the “prey” and providing entertainment to their human companion.<br><br>

                           <h3>2. Cardboard Box<br>
                           It’s no secret, cats love cardboard boxes. Try putting a ball in a large cardboard box for a more interactive experience as the cat bats the ball around inside (and outside) the box.<br><br>

                           <h3>3.Let them Climb… and Hide<br>
                         Cat trees, or towers, give cats safe spaces to play, hide and climb for a good workout. Consider hiding toys or treats in different parts of the tower to encourage climbing and playing.<br><br>

                            <h3>4.Build an Obstacle Course<br>
                          An indoor obstacle course can make a great cat workout, providing both physical and mental stimulation. Use pop-up tunnels, ramps and create weave poles with water bottles.<br><br>

                          <h3>5.Play Ball
                          Dogs aren’t the only pets who like to play ball. While some cats will play fetch, almost all cats will enjoy chasing and batting balls around, especially bouncy ones, like ping pong balls.<br><br>
                     
   <body>
</html>
  