{%load static%}
<html>
  <head>
      <center>
         <h1>Cat Boarding</h1>
      </center>     
  </head>
  <body>
   <style>
                  *{
                   margin:0;
                   padding:0;
                   box-sizing:border-box;
                   font-family:sans-serif;
                   font-weight:lighter;
               }
               body
                       {
                             background-color: #B2D3C2;
                        }
               .flex{
                         display:flex;
                        align-items:center;
               }
       </style>  
               <center><img src="{% static 'image/catb.jpg' %}"width="400px"height="200px"></center>   
               <h2 style="color:Red;">Types of Cat Boarding:-</h2><br>
                     <h3>1. Kitty Condo</h3><br>
                       i. Separate litter pan area with frosted privacy glass<br>
                      ii.Horizontal bar configuration allows for calm viewing<br>
                     iii. L-Benches provides optimal perching<br><br> 

                     <h3>2.Euro Condo</h3><br>

                     i. Most spacious with removable partition for extra space (additional charge)<br>
                     ii. Frosted privacy glass for nervous kitties<br>
                    iii.  Horizontal bar configuration allows for calm viewing<br>
                     iv. U-Benches provides optimal perching<br><br>

                     <h3>3.Suites</h3><br>

                    i. Tall clear glass for optimal sunlight<br>
                    ii. Vertical climbing space with scratching post<br>
                    iii,Nest camera in each for 24 hour viewing<br><br>
                     
   <body>
</html>
  