{% load static %}
<html>
  <head>
      <center>
         <h1>Dog Boarding</h1>
      </center>     
  </head>
  <body>
   <style>
                  *{
                   margin:0;
                   padding:0;
                   box-sizing:border-box;
                   font-family:sans-serif;
                   font-weight:lighter;
               }
               body
                       {
                      background-color: pink;
                            
                        }
               .flex{
                         display:flex;
                        align-items:center;
               }
       </style>
              <center><img src="{% static 'image/dogb.jpg' %}"width="400px"height="200px"></center>         
               <h2 style="color:Red;">Types of Dog Boarding:-</h2><br>
                      <h3>1. Kennels and traditional boarding</h3><br>
                       At traditional boarding facilities and dog kennels, pups have their own space, separate from other dogs.Your dog may also have his own dog run, or he'll be taken for walks and play multiple times a day. Veterinary offices may offer traditional boarding facilities of their own, which can be helpful if your pet has any special needs.<br><br>

                     <h3>2. In-home boarding with pet sitters</h3><br>
                     In-home or private pet boarding typically refers to your pet staying at another person's home, usually a professional pet sitter. These dog-sitting services may keep just one pet at a time or a few, depending on the space.<br><br>

                   <h3> 3. Pet care in your own home</h3><br>
                    Another option is keeping your pet at your home and either having a live-in pet sitter or someone visiting your dog multiple times a day. The person might be a professional dog sitter, a neighbor or a friend.<br><br>

                   <h3>4. Luxury or upscale boarding</h3><br>
                   If you want a little more posh for your pet, consider luxury and upscale boarding options. It's like doggy daycare every day! These may offer larger yards or even have pools for swimming. They may offer grooming, special treats or TV and music for mental stimulation. Others have webcams so you can check on your pet every day.<br><br>
                 
   <body>
</html>
  