{%load static%}
<html> 
<head>
      <center>
         <h1>About Us</h1>
      </center>     
  </head>
 <body>
  
 <center><img src="{% static 'image/about_img.png' %}"width="500px"height="200px"></center>
        <div class="content">
  <h2 style="color:Red;">What Are Pet Food?</h2>    
<h3>Pet foods have been manufactured since the 2021s in the India, and today there are manufacturing plants in most developed countries. They originated from animal feedstuffs based on nutrition that were manufactured for livestock. The close relationship between pets and owners led to the development of certain sensory requirements to attract the consumer. The products were made with more attractive shapes and colors to satisfy the owners and with special flavorings to ensure that the animals were happy. However, the core products are nutritionally well balanced to give a complete diet for an animal so that they can live a healthy life if fed only on the pet food.

There are also some special products known as “treats” that may be more highly flavored, or have a special chewy texture. These products are aimed at providing an enjoyable experience for the animal and its owner, and are not necessarily so well balanced nutritionally.

There are many types of pets in the modern world, but cats and dogs dominate all the production in the pet food market by a large margin with sales of over five billion pounds worldwide. The next levels of pet foods are for fish, small mammals such as rabbits, guinea pigs, and ferrets, birds, and then the products begin to merge with animal feeds for farm animals and reptiles. In this article only the products made for cats and dogs are described in detail, and some of the products made for fish and small mammals are briefly mentioned..</p></h3>
        
    </div>
</body>
</html>